.card{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    height: 100px;
    width: 320px;
}

.imgProd{
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.CartItemDetails{
    flex: 1; /* Distribuye el espacio disponible entre los campos */
}

.CartItemDetails p {
    margin: 0; /* Elimina los márgenes predeterminados */
    line-height: 1.5; /* Ajusta la altura de línea para un mejor espaciado */
}



.nombreProd{
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
}

.precioProd{
    font-size: 17px;
    font-weight: 300;
}

.buttonProd{
    background-color: #263143;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor:pointer;
    color: white;
}

.buttonProd :hover{
    background-color: #2D4263;
}
