.Button{
    padding: 10px;
    background-color: #263143;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor:pointer;
}
